.card{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card-body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img {
    display: flex;
    width: 500px;
    height: 500px;
    padding: 10px;
}